*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	text-align: center;
}

.header{
	width: 100%;
	margin-top: 1px;
	border-top: 1px solid #aaafb5;
}

.header_top{
	width: 100%;
	height: 26px;
	background-color: #eee;
	
}

.text{
	width: 962px;
	margin: 0 auto;
	font-size: 11px;
	line-height: 25px;
	color: #666666;
}

.text_left, .text_right, .text_left a, .text_right a{
	color: #666666;
}

.text_right a{
	padding-left: 4px;
	padding-right: 6px;
}

.text_left{
	float: left;
}

.text_left a{
	margin-left: 3px;
}

.text_right{
	float: right;
}

.text_right span{
	width: 14px;
	height: 11px;
	display: inline-block;
	background: url(../images/购物车.png) no-repeat;
	margin-right: 4px;
}

.header_bottom{
	width: 100%;
	height: 80px;
	background-color: #9a0000;
}

.title{
	width: 962px;
	margin: 0 auto;
}

.title_left{
	width: 390px;
	height: 80px;
	float: left;
	background: url(../images/钱背景.jpg) no-repeat;
	position: relative;
}

.pic{
	position: absolute;
	width: 256px;
	height: 34px;
	top: 19px;
	left: 26px;
	
}

.pic img{
	float: left;
	display: inline-block;
}

.title_right{
	width: 534px;
	float: right;
	margin: 15px 5px 0 0;
}

.title_right_nav{
	
}

.title_right_nav a{
	float: left;
	display: inline-block;
	width: 47px;
	height: 20px;
	color: #fff;
	font-size: 11px;
	line-height: 20px;
}

.title_right_nav .a1{
	background-color: #c9271c;
	border-radius: 2px 2px 0 0;
}

.title_right_nav p{
	font-size: 11px;
	line-height: 20px;
	color: #ffee66;
	float: left;
	margin-left: 19px;
}

.search{
	height: 26px;
	border: 2px solid #c9261c;
	float: left;
}

.textbox{
	width: 431px;
	height: 24px;
	border: 1px solid #ba1324;
	float: left;
}

.button{
	width: 96px;
	height: 26px;
	border: 1px solid #ba1324;
	background: url(../images/searchbutton_bg.jpg) repeat-x;
	font-size: 14px;
	font-weight: bolder;
	padding: 0 2px 3px 0;
}

.navbg{
	width: 100%;
	height: 30px;
	background-color: #333333;
}

.nav{
	width: 960px;
	margin: 0 auto;
	line-height: 29px;
	font-size: 12px;
	font-family: "宋体";
	
}

.nav_left1{
	float: left;
	
}

.nav_left1 ul li{
	float: left;
	text-align: center;
	
}

.nav_left1 ul li a{
	color: #FFFFFF;
	font-weight: bolder;
}

.nav_left1 .left_a1{
	margin: 0 24px 0 5px;
	color: #ffff00;
}

.nav_left1 .left_a2{
	margin-right: 32px;
	position: relative;
}

.nav_left1 .left_a2 span{
	position: absolute;
	display: block;
	width: 8px;
	height: 5px;
	background: url(../images/down.jpg) no-repeat;
	right: -15px;
	bottom: 2px;
}

.nav_left1 .left_a3{
	margin-right: 21px;
	position: relative;
}

.nav_left1 .left_a3 span{
	position: absolute;
	display: block;
	width: 8px;
	height: 5px;
	background: url(../images/down.jpg) no-repeat;
	right: -17px;
	bottom: 2px;
}

.nav_left2{
	float: left;
	font-size: 13px;
}

.nav_left2 ul li{
	float: left;
	
}

.nav_left2 ul li a{
	color: #FFFFFF;
	padding: 0 13px 0 12px;
	border-right: 1px solid #4b554b;
}

.nav_right{
	float: right;
}

.nav_right ul li{
	float: left;
}

.nav_right ul li a{
	color: #FFFFFF;
	padding: 0 7px 0 7px;
	border-right: 1px solid #4b554b;
}

.nav_right .right_a4{
	border-right: 0 none;
}

.container{
	width: 962px;
	margin: 0 auto;
}

.banner{
	width: 100%;
	height: 70px;
}

.returnmoney{
	width: 100%;
	height: 40px;
	background: url(../images/returnmoney_bg.jpg) no-repeat;
	margin: 12px 0 10px 0;
	font-size: 11px;
	text-align: center;
	line-height: 40px;
}

.returnmoney .returnmoney_l1{
	font-size: 14px;
	color: #dc0200;
	font-weight: bolder;
	margin-left: 11px;
}

.returnmoney ul li{
	float: left;
	margin-right: 15px;
}

.container_textarea{
	width: 100%;
	height: 213px;
	background: url(../images/textbg.png) no-repeat;
	overflow: hidden;
	position: relative;
	float: left;
		
}

.container_textarea .attention{
	position: absolute;
	width: 48px;
	height: 213px;
	left: 0;
	top: 0;
}

.textarea_text{
	width: 415px;
	height: 170px;
	margin: 19px 0 0 65px;
	font-size: 12px;
	text-align: left;
	color: #af6d17;
	border-right: 1px dotted #000;
	float: left;
}

.textarea_text p{
	text-indent: 2em;
	float: left;
	font-family: arial;
}

.textarea_text .red{
	font-weight: bold;
	color: #ff0000;
	display: inline;
}

.textarea_text_right{
	width: 443px;
	margin: 19px 0 0 17px;
	border-right: 0 none;
}

.main{
	width: 100%;
	margin-top: 11px;
	float: left;
}

.main1 , .main2{
	width: 475px;
	height: 505px;
	float: left;
	background: url(../images/main1_bg.jpg) no-repeat;
}

.main1{
	margin-right: 10px;
	margin-bottom: 10px;
}

.main2{
	margin-bottom: 10px;
}

.main3{
	margin-right: 10px;
}

.main1_header, .main2_header{
	height: 36px;
	margin-left: 14px;
	float: left;
	line-height: 36px;
	color: #dc0200;
	font-size: 15px;
	font-weight: bold;
}

.main1_header span, .main2_header span{
	color: #8f8f8f;
	font-family: arial;
	margin-left: 5px;
}

.main1_center_bg{
	width: 440px;
	height: 435px;
	background: url(../images/main1_bg1.jpg) no-repeat;
	margin: 15px 0 0 18px;
	float: left;
	position: relative;
}

.main1_center1 img{
	position: absolute;
	left: 79px;
	top: 76px;
}

.main1_center1 .card{
	position: absolute;
	left: 75px;
	top: 128px;
	color: #fff;
}

.main1_center1 .password{
	position: absolute;
	left: 75px;
	top: 158px;
	color: #fff;
}

.main1_center1 .ipt{
	width: 130px;
	height: 20px;
	border: 1px solid #9a0000;
}

.main1_center1 .bt{
	width: 79px;
	height: 29px;
	position: absolute;
	background: url(../images/wait.jpg) no-repeat;
	top: 138px;
	right: 91px;
	border: 0 none;
}

.main1_center_bg .jjfq{
	width: 410px;
	height: 57px;
	background: url(../images/jjfq.png) no-repeat;
	position: absolute;
	left: 15px;
	top: -5px;
	color: #fff;
	font-size: 22px;
	text-align: center;
	line-height: 52px;
	font-family: "微软雅黑";
}

.main1_center2 p{
	color: #fd7700;
	position: absolute;
	left: 79px;
	top: 229px;
	font-size: 12px;
	text-align: left;
}

.main1_center2 .write{
	color: #fff;
}

.main1_center2 .zhuce{
	width: 60px;
	height: 49px;
	background: url(../images/zhuce.png) no-repeat;
	position: absolute;
	right: 141px;
	top: 229px;
	border: 0 none;
}

.main1_center2 .denglu{
	width: 60px;
	height: 49px;
	background: url(../images/denglu.png) no-repeat;
	position: absolute;
	right: 70px;
	top: 229px;
	border: 0 none;
}

.main1_center2 .lianxi{
	width: 398px;
	height: 38px;
	position: absolute;
	border: 1px solid #cd3e00;
	border-radius: 20px;
	left: 20px;
	top: 301px;
	background-color: #000000;
	background: rgba(0,0,0,0.5) no-repeat scroll !important;
	color: #fff;
	text-align: center;
	line-height: 38px;
	font-size: 15px;
	font-family: "微软雅黑";
}

.main1_center3{
	width: 100%;
	height: 72px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.main1_center3 ul{
	margin: 17px 0 0 40px;
}

.main1_center3 ul li{
	float: left;
	color: #fd7700;
	font-size: 14px;
}

.main1_center3 ul li a{
	color: #fd7700;
	margin: 0 20px 0 19px;
}

.main1_center3 .main1_center3_at{
	margin-left: 0;
}

.main2_center_title, .main2_center1, .main2_center2{
	width: 433px;
	height: 35px;
	background-color: #666666;
	margin: 16px 0 0 21px;
	position: relative;
	border: 1px solid #e9e9e9;
	float: left;
	line-height: 35px;
	font-size: 14px;
	
}

.main2_center_title p, .main2_center1 p, .main2_center2 p{
	float: left;
	color: #FFFFFF;
}

.main2_center_title_num, .main2_center_title_card, .main2_center_title_consume, .main2_center_title_state,
.main2_center1_num, .main2_center1_card, .main2_center1_consume, .main2_center1_state,
.main2_center2_num, .main2_center2_card, .main2_center2_consume, .main2_center2_state
{
	position: absolute;
}

.main2_center_title_num{
	left: 8px;
}

.main2_center_title_card{
	left: 118px;
}

.main2_center_title_consume{
	left: 228px;
}

.main2_center_title_state{
	left: 368px;
}

.main2_center1, .main2_center2{
	background-color: #FFFFFF;
	margin: 0 0 0 21px;
	border-top: 0 none;
	position: relative;
}

.main2_center1 p, .main2_center2 p{
	color: #000000;
}

.main2_center1_num, .main2_center2_num{
	left: 16px;
}

.main2_center1_card, .main2_center2_card{
	left: 76px;
}

.main2_center1_consume, .main2_center2_consume{
	left: 232px;
}

.main2_center1_state, .main2_center2_state{
	left: 364px;
}

.main2_center1_state_first{
	left: 349px!important;
	color: #ff5c00!important;
}

.main2_center2{
	background-color: #f1f1f1;
}

.main2_footer{
	width: 433px;
	float: left;
	margin: 10px 0 0 21px;
}

.main2_footer ul li{
	text-align: center;
	float: left;
	line-height: 26px;
	font-size: 14px;
	
}

.main2_footer a{
	float: left;
	display: block;
	color: #000000;
}

.main2_footer .main2_footer_a1, .main2_footer_a2, .main2_footer_a3, .main2_footer_a4, .main2_footer_a5{
	
	width: 23px;
	height: 26px;
	border: 1px solid #d2d2d2;
	margin: 0 2px;
}

.main2_footer_a1{
	width: 24px!important;
}

.main2_footer_a3{
	width: 30px;
}

.main2_footer_a4{
	width: 53px;
}

.main2_footer_a5{
	width: 71px;
	margin-right: 0;
}

.container_footer{
	float: left;
	width: 962px;
	height: 262px;
	/*border: 1px solid #dddddd;*/
	position: relative;
	background: url(../images/footer_bg.png) no-repeat;
}

.container_footer .fqlc{
	width: 184px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.pdfqmx{
	width: 242px;
	height: 197px;
	margin: 64px 0 0 416px;
	background: url(../images/footer_blue.jpg) no-repeat;
	position: relative;
}

.pdfqmx .pdfqmx_title{
	width: 195px;
	height: 50px;
	position: absolute;
	top: -4px;
	left: 22px;
	background: url(../images/footer_orange.png) no-repeat;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 1px 0 #f51a00,-1px 0 #f51a00, 0 1px #f51a00,0 -1px #f51a00;
}

.wait{
	font-size: 48px;
	color: #FFFFFF;	
	text-align: center;
	font-family: arial;
	position: absolute;
	left: 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	top: 84px;
	left: -3px;
}

.lqxj{
	width: 174px;
	height: 48px;
	background: url(../images/LX.png) no-repeat;
	position: absolute;
	top: 77px;
	right: 88px;
	line-height: 48px;
	font-size: 16px;
	z-index: -1;
	font-family: "黑体";
}

.lqxj span{
	color: #FFFFFF;
	font-size: 24px;
	font-family: arial;
}

.border_b{
	float: left;
	width: 100%;
	height: 16px;
	border-bottom: 2px solid #ed2900;
}

.footer{
	float: left;
	width: 960px;
	height: 96px;
	margin: 0 auto;
	position: relative;
}

.footer_link{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 15px;
	left: 0;
}

.footer_link ul{
	display: inline-block;
}

.footer_link ul li{
	float: left;
	margin-right: 7px;
}

.footer_link ul li a{
	color: #000000;
}

.banquan, .beian{
	width: 100%;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 0;
	color: #868686;
	font-family: arial, "宋体";
	font-size: 12px;
}

.beian{
	top: 61px;
}
